@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

body, html {
	margin: 0;

	color: #121212;
	font-size: 16pt;
	font-family: 'Open Sans', sans-serif;

	background: #e6e6e6;
}

.page {
    max-width: 800px;
    background: #fff;
    margin: 48px auto;
    padding: 48px;
    border-radius: 5px;
    box-shadow: 0 0 32px rgba(0, 0, 0, .125);
}

.spacer-t {
    margin-top: 48px;
}

.cols {
    display: flex;
}

.links > a {
    padding-left: 1em;
    white-space: nowrap;
}

.links {
    line-height: 2.5em;
    text-align: center;
}

hr {
    border: 1px solid #e5e5e5;
}

.fav {
    width: 1em;
    height: 1em;
    vertical-align: -6%;
    margin-right: .5em;
}

.content {
    padding-left: 48px;
}

.section-header {
    color: #636363;
    font-style: italic;
    line-height: 2em;
}

.photo {
    display: inline-block;
    border-radius: 100%;
    width: 256px;
    height: 256px;
    min-width: 256px;
    min-height: 256px;
    background: url('https://lh3.googleusercontent.com/-_u9tF59VLug/AAAAAAAAAAI/AAAAAAADjCU/OeRnnsKBJbQ/s256-p-k-rw-no/photo.jpg') 50% 50%;
}

.info {
    margin-left: 48px;
    vertical-align: top;
    padding-bottom: 48px;
    line-height: 1.33em;
}

.name {
    font-size: 22pt;
    line-height: 1.75em;
}

.about {
    color: #636363;
    font-size: 14pt;
}

.dim {
    color: #969696;
}

.small {
    text-align: justify;
    font-size: 14pt;
}

.insta {
    width: 256px;
}

.insta > img {
    border-radius: 3px;
}

a {
	text-decoration: none;
}