@import url(http://fonts.googleapis.com/css?family=Cinzel);

body, html {
	margin: 0;
	height: 100%;

	font-family: 'Cinzel', Serif;
	color: #fff;
	font-size: 18pt;

	background-color: #000;
	background-image: url('../images/jacob.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

div.content {
	background: rgba(0, 0, 0, .333);
	display: inline-block;
	min-height: 100%;
}

div.content > div {
	padding: 2em;
}

div.name {
	font-size: 32pt;
}

div.title {
	font-size: 22pt;
}

@media screen and (max-width: 640px) {
	body {
		font-size: 16pt;
	}

	div.content {
		width: 100%;
		text-align: center;
	}

	div.title {
		font-size: 18pt;
	}

	div.name {
		font-size: 28pt;
		font-weight: bold;
	}

	ul {
		width: 100%;
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	ul li {
		width: 100%;
		padding: .25em;
		margin-left: 0;
		padding-left: 0;
	}
}
